/* colors and base sizes*/
:root{
    --pink: #FFDAE1;
    --borderpurple: #9989D8; 
    --lavender: #E9E4FF;
    --art-zone: 350px;
}
/* set defaults for full app window to 0 margin / padding - allows custom title bar*/
*{
    padding-top: 0;
    margin-top: 0;
}

/* body */
body {
    background-color: var(--pink);
    margin: 0;
}

/* custom title bar */
.titlebar{
    app-region: drag;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid var(--borderpurple);
    justify-content: space-between;
    align-items: center;
}

/* alignment of title bar buttons */
.titlebar-btn{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

/* minimize and close buttons in title bar */
.button{
    app-region: no-drag;
    height: 25px;
    width: 25px;
    background-color: #E9E4FF;
    margin-left: 3px;
    margin-right: 3px;
    border: 2px solid var(--borderpurple);
    border-radius: 2px;
    text-align: center;
    font-family: "Pixelify Sans";
    font-size: 15px;
    color: var(--borderpurple);
}

/* button highlight */
.button:hover{
    background-color: var(--borderpurple);
    color: var(--lavender);
}

/* main body of application */
.display{
    display: flex; 
    flex-direction: column;
}


/* text */
h2 ,p{
    color: var(--borderpurple);
    font-family: "Pixelify Sans";
    font-weight: 50;
}
h2, h3, p{
    padding: 0;
    margin: 0;
}
h3{
  color: white;
  font-family: "Pixelify Sans";
  font-weight: 10;  
}
.date{
    text-align: center;
    background-color: #9989d869;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.date h2{
    font-weight: 10;
    color: var(--lavender);
    font-size: 20px;
}
/* section for displaying pixel art */
.art-display{
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: flex-end;   /* vertically align to bottom */
    position: relative;
    width: 100%;
}
.season-display{
   margin-left: 5px;
   padding: 3px;
   text-align: center;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 3; 
}
.season-display h3{
    background-color: var(--borderpurple);
    color: white;
    border: 1px solid var(--lavender);
    padding-bottom: 3px;
}

.temp-display{
   margin-left: 5px;
   margin-top: 8px;
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3; 
   border: 1px solid var(--lavender);
}
.temp-display h3{
    background-color: var(--borderpurple);
    color: white;
    padding: 3px;
    font-weight: 10px;
}

/* background displaying time of day */
.daytime{
    background-color: skyblue;
}
.dusk{
    background-color: lightsalmon;
}
.nightime{
    background-color: darkslateblue;
}

.seasonIcon{
    width: 80px;
}
/* background displaying seasonal trees */
.season-background{
    width: 100%;
    z-index: 1;
}

/* pixel cat avatar */
.cat{
    position: absolute;
    width: 75%;
    bottom: 0;
    z-index: 2;
}

.forecast{
    padding: 10px;
    margin-bottom: 5px;
    background-color: #e9e4ff86;
    border: 3px solid var(--borderpurple);
    bottom: 0;
    position: absolute;
    z-index: 4;
}
.forecast p{
    opacity: 1;
}